<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackQR</title>
    <link rel="stylesheet" href="libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="bg-dark">
        <section class="bg-primary p-4 text-white">
            <h1 class="text-center">TrackQR</h1>
            <h4 class="text-center">Genera y reastrea tus códigos QR</h4>
            <form action="" class="mt-4">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                    <label for="inputEmail">Correo Electronico</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off">
                    <label for="inputPassword">Contraseña</label>
                </div>

                <button type="submit">Iniciar Sesión</button>

                <hr>
                <div class="d-flex justify-content-center">
                    <a href="#" class="text-white">¿Olvidastes tu Contraseña?</a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>